body {
    margin: 0;
}

div {
    text-align: center;
    border-top: 1px solid #d5d5d5;
    padding: 50px;
    background-color: #f5f5f5;
}

h1 {
    font-family: 'Tahoma', sans-serif;
    text-align: center;
    margin-top: 0;
}

h2 {
    font-family: 'Tahoma', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Tahoma', sans-serif;
    text-align: center;
}

p {
    font-family: 'Tahoma', sans-serif;
    text-align: center;
    line-height: 28px;
    margin: 15px auto 30px auto;
    width: 930px;
}

span {
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
}

img {
    width: 190px;
}

a {
    font-family: 'Tahoma', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background-color: #49b970;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 25px;
}