h1 {
    font-size: 32px;
    font-family: Impact;
    font-weight: normal;
    text-align: center;
    text-decoration: underline;
}

p {
    font-size: 24px;
    font-family: Verdana;
    text-align: justify;
}