h1{
    font-size: 28px;
    font-family: Arial;
    text-decoration: none;
    margin-bottom: 20px;
    color: #776757;
}

h2{
    font-size: 22px;
    font-family: Arial;
    font-weight: normal;
    text-decoration: underline;
}