h1 {
    font-size: 24px;
    color: #484848;
    background-color: #c7c7c7;
    text-decoration: underline;
    padding: 15px 25px;
}

h2 {
    font-size: 18px;
    padding: 5px;
    margin-top: 15px;
}