div {
    border: 5px solid #ff2200;
    background-color: #e5e5a8;
    height: 100px;
    margin-top: 30px;
}

.opcao1 {
    border: 1px solid;
}

.opcao2 {
    border: solid #454545;
}

.opcao3 {
    border: 1px #454545;
}